.height-61 {
  height: 61px;
}

.footer {
  height: 228px;
}

.min-width-228 {
  min-width: 228px;
}

.noteContainer {
  min-width: 1212px;
}

.employer-title {
  padding-left: 25px;
  padding-right: 28px;
  padding-top: 14px;
  padding-bottom: 20px;
}

.employer-notes {
  font-size: 28px;
  line-height: 36.4px;
  letter-spacing: -0.56px;
  color: #212529;
}

.view-details {
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.28px;
}
